<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.dao.good.GoodInfoMapper" >
  <resultMap id="BaseResultMap" type="com.school.domain.entity.good.GoodInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="good_no" property="goodNo" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="old_price" property="oldPrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="good_points" property="goodPoints" jdbcType="BIGINT" />
    <result column="good_type_id" property="goodTypeId" jdbcType="BIGINT" />
    <result column="good_brand_id" property="goodBrandId" jdbcType="BIGINT" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="is_post" property="isPost" jdbcType="INTEGER" />
    <result column="post_money" property="postMoney" jdbcType="DECIMAL" />
    <result column="is_shop_good" property="isShopGood" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="VARCHAR" />
    <result column="down_time" property="downTime" jdbcType="VARCHAR" />
    <result column="no_pass_reason" property="noPassReason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="qr_code_path" property="qrCodePath" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.school.domain.entity.good.GoodInfo" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, good_no, good_name, purchase_price, old_price, price, good_points, good_type_id, 
    good_brand_id, total_num, sale_num, is_post, post_money, is_shop_good, shop_id, status, 
    publish_time, down_time, no_pass_reason, create_time, is_recommend, qr_code_path, 
    version
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from good_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from good_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.school.domain.entity.good.GoodInfo" useGeneratedKeys="true" keyProperty="id">
    insert into good_info (id, good_no, good_name, 
      purchase_price, old_price, price, 
      good_points, good_type_id, good_brand_id, 
      total_num, sale_num, is_post, 
      post_money, is_shop_good, shop_id, 
      status, publish_time, down_time, 
      no_pass_reason, create_time, is_recommend, 
      qr_code_path, version, description
      )
    values (#{id,jdbcType=BIGINT}, #{goodNo,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{oldPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{goodPoints,jdbcType=BIGINT}, #{goodTypeId,jdbcType=BIGINT}, #{goodBrandId,jdbcType=BIGINT}, 
      #{totalNum,jdbcType=INTEGER}, #{saleNum,jdbcType=INTEGER}, #{isPost,jdbcType=INTEGER}, 
      #{postMoney,jdbcType=DECIMAL}, #{isShopGood,jdbcType=INTEGER}, #{shopId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{publishTime,jdbcType=VARCHAR}, #{downTime,jdbcType=VARCHAR}, 
      #{noPassReason,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{isRecommend,jdbcType=INTEGER}, 
      #{qrCodePath,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.school.domain.entity.good.GoodInfo" useGeneratedKeys="true" keyProperty="id">
    insert into good_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodNo != null" >
        good_no,
      </if>
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="oldPrice != null" >
        old_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goodPoints != null" >
        good_points,
      </if>
      <if test="goodTypeId != null" >
        good_type_id,
      </if>
      <if test="goodBrandId != null" >
        good_brand_id,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="isPost != null" >
        is_post,
      </if>
      <if test="postMoney != null" >
        post_money,
      </if>
      <if test="isShopGood != null" >
        is_shop_good,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="downTime != null" >
        down_time,
      </if>
      <if test="noPassReason != null" >
        no_pass_reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="qrCodePath != null" >
        qr_code_path,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodNo != null" >
        #{goodNo,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="oldPrice != null" >
        #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodPoints != null" >
        #{goodPoints,jdbcType=BIGINT},
      </if>
      <if test="goodTypeId != null" >
        #{goodTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodBrandId != null" >
        #{goodBrandId,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="isPost != null" >
        #{isPost,jdbcType=INTEGER},
      </if>
      <if test="postMoney != null" >
        #{postMoney,jdbcType=DECIMAL},
      </if>
      <if test="isShopGood != null" >
        #{isShopGood,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null" >
        #{downTime,jdbcType=VARCHAR},
      </if>
      <if test="noPassReason != null" >
        #{noPassReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="qrCodePath != null" >
        #{qrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.domain.entity.good.GoodInfo" >
    update good_info
    <set >
      <if test="goodNo != null" >
        good_no = #{goodNo,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="oldPrice != null" >
        old_price = #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodPoints != null" >
        good_points = #{goodPoints,jdbcType=BIGINT},
      </if>
      <if test="goodTypeId != null" >
        good_type_id = #{goodTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodBrandId != null" >
        good_brand_id = #{goodBrandId,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="isPost != null" >
        is_post = #{isPost,jdbcType=INTEGER},
      </if>
      <if test="postMoney != null" >
        post_money = #{postMoney,jdbcType=DECIMAL},
      </if>
      <if test="isShopGood != null" >
        is_shop_good = #{isShopGood,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null" >
        down_time = #{downTime,jdbcType=VARCHAR},
      </if>
      <if test="noPassReason != null" >
        no_pass_reason = #{noPassReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="qrCodePath != null" >
        qr_code_path = #{qrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.school.domain.entity.good.GoodInfo" >
    update good_info
    set good_no = #{goodNo,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      old_price = #{oldPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      good_points = #{goodPoints,jdbcType=BIGINT},
      good_type_id = #{goodTypeId,jdbcType=BIGINT},
      good_brand_id = #{goodBrandId,jdbcType=BIGINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      sale_num = #{saleNum,jdbcType=INTEGER},
      is_post = #{isPost,jdbcType=INTEGER},
      post_money = #{postMoney,jdbcType=DECIMAL},
      is_shop_good = #{isShopGood,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=VARCHAR},
      down_time = #{downTime,jdbcType=VARCHAR},
      no_pass_reason = #{noPassReason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      qr_code_path = #{qrCodePath,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.domain.entity.good.GoodInfo" >
    update good_info
    set good_no = #{goodNo,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      old_price = #{oldPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      good_points = #{goodPoints,jdbcType=BIGINT},
      good_type_id = #{goodTypeId,jdbcType=BIGINT},
      good_brand_id = #{goodBrandId,jdbcType=BIGINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      sale_num = #{saleNum,jdbcType=INTEGER},
      is_post = #{isPost,jdbcType=INTEGER},
      post_money = #{postMoney,jdbcType=DECIMAL},
      is_shop_good = #{isShopGood,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=VARCHAR},
      down_time = #{downTime,jdbcType=VARCHAR},
      no_pass_reason = #{noPassReason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      qr_code_path = #{qrCodePath,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <resultMap type="com.school.domain.vo.good.GoodInfoVo" id="queryPageMap">
  		<id property="id" column="id" />
  		<result property="goodNo" column="good_no"/>
  		<result property="goodName" column="good_name"/>
  		<result property="purchasePrice" column="purchase_price"/>
  		<result property="oldPrice" column="old_price"/>
  		<result property="price" column="price"/>
  		<result property="goodPoints" column="good_points"/>
  		<result property="goodTypeId" column="good_type_id"/>
  		<result property="goodTypeName" column="good_type_name"/>
  		<result property="goodBrandId" column="good_brand_id"/>
  		<result property="goodBrandName" column="good_brand_name"/>
  		<result property="totalNum" column="total_num"/>
  		<result property="saleNum" column="sale_num"/>
  		<result property="isPost" column="is_post"/>
  		<result property="postMoney" column="post_money"/>
  		<result property="isShopGood" column="is_shop_good"/>
  		<result property="shopId" column="shop_id"/>
  		<result property="shopName" column="shop_name"/>
  		<result property="status" column="status"/>
  		<result property="publishTime" column="publish_time"/>
  		<result property="downTime" column="down_time"/>
  		<result property="noPassReason" column="no_pass_reason"/>
  		<result property="createTime" column="create_time"/>
  		<result property="isRecommend" column="is_recommend"/>
  		<result property="qrCodePath" column="qr_code_path"/>
  		<result property="version" column="version"/>
  		<result property="smallImgPath" column="small_img_path"/>
  		<result property="bigImgPath" column="big_img_path"/>
	</resultMap>
  <select id="queryPage" resultMap="queryPageMap" parameterType="map">
		select gi.*,
		si.shop_name,gt.type_name good_type_name,gb.brand_name good_brand_name,
		(
			select gim.small_img_path from good_images gim
			where gim.good_id = gi.id
			ORDER BY sort asc,id asc
			limit 1
		)small_img_path,
		(
			select gim.big_img_path from good_images gim
			where gim.good_id = gi.id
			ORDER BY sort asc,id asc
			limit 1
		)big_img_path
		from good_info gi
		left join shop_info si on gi.shop_id = si.id
		left join good_type gt on gi.good_type_id = gt.id
		left join good_brand gb on gi.good_brand_id = gb.id
		<where>
			<if test="shopId != null and shopId != '' ">
				and gt.id = #{shopId}
			</if>
			<if test="goodTypeId != null and goodTypeId != '' ">
				and gt.id = #{goodTypeId}
			</if>
			<if test="goodBrandId != null and goodBrandId != '' ">
				and gb.id = #{goodBrandId}
			</if>
			<if test="status != null and status != '' ">
				and gi.status = #{status}
			</if>
			<if test="keyword != null and keyword != '' ">
				and (gi.good_no like concat('%',#{keyword},'%')
				     or gi.good_name like concat('%',#{keyword},'%'))
			</if>
		</where>
		ORDER BY gi.id asc
	</select>
	
	<resultMap type="com.school.domain.vo.good.GoodInfoVo" id="detailMap">
  		<id property="id" column="id" />
  		<result property="goodNo" column="good_no"/>
  		<result property="goodName" column="good_name"/>
  		<result property="purchasePrice" column="purchase_price"/>
  		<result property="oldPrice" column="old_price"/>
  		<result property="price" column="price"/>
  		<result property="goodPoints" column="good_points"/>
  		<result property="goodTypeId" column="good_type_id"/>
  		<result property="goodTypeName" column="good_type_name"/>
  		<result property="goodBrandId" column="good_brand_id"/>
  		<result property="goodBrandName" column="good_brand_name"/>
  		<result property="totalNum" column="total_num"/>
  		<result property="saleNum" column="sale_num"/>
  		<result property="isPost" column="is_post"/>
  		<result property="postMoney" column="post_money"/>
  		<result property="isShopGood" column="is_shop_good"/>
  		<result property="shopId" column="shop_id"/>
  		<result property="shopName" column="shop_name"/>
  		<result property="status" column="status"/>
  		<result property="publishTime" column="publish_time"/>
  		<result property="downTime" column="down_time"/>
  		<result property="noPassReason" column="no_pass_reason"/>
  		<result property="createTime" column="create_time"/>
  		<result property="isRecommend" column="is_recommend"/>
  		<result property="qrCodePath" column="qr_code_path"/>
  		<result property="version" column="version"/>
		<collection property="goodImages" ofType="com.school.domain.entity.good.GoodImage">
			<id property="id" column="gid"/>
			<result property="goodId" column="ggood_id"/>
			<result property="smallImgPath" column="small_img_path"/>
			<result property="bigImgPath" column="big_img_path"/>
			<result property="sort" column="sort"/>
		</collection>
		<collection property="goodLabels" ofType="java.lang.String">
			<result property="labelName" column="label_name"/>
		</collection>
	</resultMap>
	<select id="detail" parameterType="java.lang.Long" resultMap="detailMap">
		select gi.*,
		si.shop_name,gt.type_name good_type_name,gb.brand_name good_brand_name,
		gim.id gid,gim.good_id ggood_id,gim.small_img_path,gim.big_img_path,gim.sort,
		gl.label_name
		from good_info gi
		left join shop_info si on gi.shop_id = si.id
		left join good_type gt on gi.good_type_id = gt.id
		left join good_brand gb on gi.good_brand_id = gb.id
		left join good_images gim on gim.good_id = gi.id
		left join good_label_rl gl on gl.good_id = gi.id
		where gi.id = #{id}
	</select>
	
	<select id="chooseGoodId" parameterType="map" resultType="java.lang.Long">
		select gi.id from good_info gi
		where gi.id in
		<foreach item="item" index="index" collection="idList" 
            open="(" separator="," close=")">
            #{item}
        </foreach>
		<if test="isUpAll == 1">
			and (gi.status = #{goodInfoStatusDown} or gi.status = #{goodInfoStatusAuthSuccess})
		</if>
		<if test="isUpAll != 1">
			and gi.status = #{goodInfoStatusUp}
		</if>
	</select>
	
	<update id="upAndDownAll" parameterType="map">
		update good_info
		<if test="isUpAll == 1">
	    	set status = #{goodInfoStatusUp},publish_time = #{now}
		</if>
		<if test="isUpAll != 1">
	    	set status = #{goodInfoStatusDown},down_time = #{now}
		</if>
    	where id in 
    	<foreach item="item" index="index" collection="idList" 
            open="(" separator="," close=")">
            #{item}
        </foreach>
	</update>
	
	<resultMap type="com.school.domain.vo.good.GoodInfoVo" id="queryAuthPageMap">
  		<id property="id" column="id" />
  		<result property="goodNo" column="good_no"/>
  		<result property="goodName" column="good_name"/>
  		<result property="purchasePrice" column="purchase_price"/>
  		<result property="oldPrice" column="old_price"/>
  		<result property="price" column="price"/>
  		<result property="goodPoints" column="good_points"/>
  		<result property="goodTypeId" column="good_type_id"/>
  		<result property="goodTypeName" column="good_type_name"/>
  		<result property="goodBrandId" column="good_brand_id"/>
  		<result property="goodBrandName" column="good_brand_name"/>
  		<result property="totalNum" column="total_num"/>
  		<result property="saleNum" column="sale_num"/>
  		<result property="isPost" column="is_post"/>
  		<result property="postMoney" column="post_money"/>
  		<result property="isShopGood" column="is_shop_good"/>
  		<result property="shopId" column="shop_id"/>
  		<result property="shopName" column="shop_name"/>
  		<result property="status" column="status"/>
  		<result property="publishTime" column="publish_time"/>
  		<result property="downTime" column="down_time"/>
  		<result property="noPassReason" column="no_pass_reason"/>
  		<result property="createTime" column="create_time"/>
  		<result property="isRecommend" column="is_recommend"/>
  		<result property="qrCodePath" column="qr_code_path"/>
  		<result property="version" column="version"/>
  		<result property="smallImgPath" column="small_img_path"/>
  		<result property="bigImgPath" column="big_img_path"/>
	</resultMap>
	<select id="queryAuthPage" resultMap="queryAuthPageMap" parameterType="map">
		select gi.*,
		si.shop_name,gt.type_name good_type_name,gb.brand_name good_brand_name,
		(
			select gim.small_img_path from good_images gim
			where gim.good_id = gi.id
			ORDER BY sort asc,id asc
			limit 1
		)small_img_path,
		(
			select gim.big_img_path from good_images gim
			where gim.good_id = gi.id
			ORDER BY sort asc,id asc
			limit 1
		)big_img_path
		from good_info gi
		left join shop_info si on gi.shop_id = si.id
		left join good_type gt on gi.good_type_id = gt.id
		left join good_brand gb on gi.good_brand_id = gb.id
		<where>
			<if test="shopId != null and shopId != '' ">
				and gt.id = #{shopId}
			</if>
			<if test="goodTypeId != null and goodTypeId != '' ">
				and gt.id = #{goodTypeId}
			</if>
			<if test="goodBrandId != null and goodBrandId != '' ">
				and gb.id = #{goodBrandId}
			</if>
			<if test="status == null or status == ''">
				and gi.status in (3,4,5)
			</if>
			<if test="status != null and status != '' ">
				and gi.status = #{status}
			</if>
			<if test="keyword != null and keyword != '' ">
				and (gi.good_no like concat('%',#{keyword},'%')
				     or gi.good_name like concat('%',#{keyword},'%'))
			</if>
		</where>
		ORDER BY gi.id asc
	</select>
	
	<select id="delGoodImagesById" parameterType="java.lang.Long">
		delete from good_images
		where good_id = #{id}
	</select>
	
	<insert id="insertImagesOnce" parameterType="map">
		insert into good_images (good_id,small_img_path,big_img_path,sort)
			values
			<foreach collection ="goodImages" item="goodImage" index= "index" separator =",">
	            (#{goodId,jdbcType=BIGINT}, #{goodImage.smallImgPath,jdbcType=VARCHAR} ,#{goodImage.bigImgPath,jdbcType=VARCHAR},#{goodImage.sort,jdbcType=INTEGER})
	        </foreach >
	</insert>
	
	<resultMap type="com.school.domain.vo.good.GoodInfoVo" id="selectByIdMap">
  		<id property="id" column="id" />
  		<result property="goodNo" column="good_no"/>
  		<result property="goodName" column="good_name"/>
  		<result property="purchasePrice" column="purchase_price"/>
  		<result property="oldPrice" column="old_price"/>
  		<result property="price" column="price"/>
  		<result property="goodPoints" column="good_points"/>
  		<result property="goodTypeId" column="good_type_id"/>
  		<result property="goodTypeName" column="good_type_name"/>
  		<result property="goodBrandId" column="good_brand_id"/>
  		<result property="goodBrandName" column="good_brand_name"/>
  		<result property="totalNum" column="total_num"/>
  		<result property="saleNum" column="sale_num"/>
  		<result property="isPost" column="is_post"/>
  		<result property="postMoney" column="post_money"/>
  		<result property="isShopGood" column="is_shop_good"/>
  		<result property="shopId" column="shop_id"/>
  		<result property="shopName" column="shop_name"/>
  		<result property="status" column="status"/>
  		<result property="publishTime" column="publish_time"/>
  		<result property="downTime" column="down_time"/>
  		<result property="noPassReason" column="no_pass_reason"/>
  		<result property="createTime" column="create_time"/>
  		<result property="isRecommend" column="is_recommend"/>
  		<result property="qrCodePath" column="qr_code_path"/>
  		<result property="version" column="version"/>
		<collection property="goodImages" ofType="com.school.domain.entity.good.GoodImage">
			<id property="id" column="gid"/>
			<result property="goodId" column="ggood_id"/>
			<result property="smallImgPath" column="small_img_path"/>
			<result property="bigImgPath" column="big_img_path"/>
			<result property="sort" column="sort"/>
		</collection>
		<collection property="goodLabels" ofType="java.lang.String">
			<result property="labelName" column="label_name"/>
		</collection>
	</resultMap>
	<select id="selectById" parameterType="java.lang.Long" resultMap="selectByIdMap">
		select gi.*,si.shop_name,gt.type_name good_type_name,gb.brand_name good_brand_name,
		gim.id gid,gim.good_id ggood_id,gim.small_img_path,gim.big_img_path,gim.sort,
		gl.label_name
		from good_info gi
		left join shop_info si on gi.shop_id = si.id
		left join good_type gt on gi.good_type_id = gt.id
		left join good_brand gb on gi.good_brand_id = gb.id
		left join good_images gim on gim.good_id = gi.id
		left join good_label_rl gl on gl.good_id = gi.id
		where gi.id = #{id}
	</select>
	
	<delete id="delGoodLabelById" parameterType="java.lang.Long">
		delete from good_label_rl
		where good_id = #{id}
	</delete>
	
	<insert id="insertLabelOnce" parameterType="map">
		insert into good_label_rl (good_id,label_name)
			values
			<foreach collection ="goodLabels" item="goodLabel" index= "index" separator =",">
	            (#{goodId,jdbcType=BIGINT}, #{goodLabel,jdbcType=VARCHAR})
	        </foreach>
	</insert>
	
	<select id="getAllLabels" resultType="map">
		select gl.label_name labelName,gl.label_code labelCode from good_label gl
		ORDER BY gl.id
	</select>
	
	<update id="replaceGoodNoFromImgPath" parameterType="map">
		update good_images set small_img_path = replace(small_img_path,#{originalGoodNo},#{nowGoodNo}),
		big_img_path = replace(big_img_path,#{originalGoodNo},#{nowGoodNo})
		where good_id = #{goodId}
	</update>
</mapper>