.dataTables_wrapper .dataTables_length{float:left;padding-top:10px;padding-left: 20px;}
.label-L{width: 90px;float: left;position: relative;text-align: right;}
.con-r{margin-left: 90px;}
.caseInfo li{float: left;width: 50%;}
.col-sm-2 ,.col-sm-1,.col-sm-3,.col-sm-9,.col-sm-7,.col-sm-10,.col-sm-4,.col-sm-6,.col-sm-11{padding-right: 0;padding-left: 0;}
.rowNh{background-color: #f5f5f5;padding: 10px 0 25px 0;}
.row{margin-left: 15px;margin-right: 15px;}
.cld-bg{background-color: #fff;border: 1px solid #eee;margin: 10px 20px 0 20px;padding:15px;}
.tab-tit {  border-color: #ddd;  background-color: #f5f5f5;  color: #444;  }
.ts-err label.error{right: 45px;}
.iput-dis{display: inline-block;background-color: #eee}


/***分页***/
.pag-box{width:100%;overflow:hidden;margin-top:20px;}
.yhl-pags {
  width: 100%;
  overflow:hidden;
  font-size: 12px;
  color: #666;
  margin:0 auto;
  clear:both;
  /* span{padding:0 5px;} */ }
.yhl-pags .yhl-pags-box {float:right;}
.yhl-pags span, .yhl-pags a {
  float: left; }

.yhl-pags .pag-last:hover, .yhl-pags .pag-home:hover {
  color: #6a96df; }
.yhl-pags .pag-left, .yhl-pags .pag-right,.yhl-pags .pag-number,.yhl-pags .pag-last, .yhl-pags .pag-home {
  line-height: 26px;
  height: 26px;
  margin: 0 3px 6px;
  padding: 0 10px;
  border:1px solid #ccc;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration:none;
   color: #666;
  }

.yhl-pags .pag-number:hover {border-color:#ddd;}
.yhl-pags .pag-sum{padding-left:10px;line-height: 26px;height: 26px;}
.yhl-pags .pag-left:hover, .yhl-pags .pag-right:hover {border-color:#ddd;}
.yhl-pack-box .pack-div:hover {border-color:#ddd;}
.yhl-pags .pag-number.on {border:0;font-weight:600;color:#444;}
.yhl-pags .pag-last:hover, .yhl-pags .pag-home:hover {border-color:#ddd;color:#666;}
.yn-pg-oth .yhl-pags .pag-left, .yn-pg-oth .yhl-pags .pag-right{height: 26px;margin: 0 5px;}
.yn-pg-oth .yhl-pags .pag-number{line-height: 26px;height: 26px;}
label.error{z-index: 1000}

/*login*/
.loginMain{height:100%; display:flex;flex-direction:column;justify-content:space-between;box-sizing:border-box;}
.login_log{height: 105px;padding-top:70px;padding-left:10%;margin: 0 auto}

.loginTop{height: 605px;background: url("../image/login_bg.png") center no-repeat;position: relative;}
.loginTop_con{position: relative;height: 605px;right:15%}
.loginTop_con:before{position: absolute;content: "";width: 0;height: 0;border-bottom: 30px solid #7fa9d3;border-right: 30px solid transparent;right: -30px;top: -30px}
.loginTop_con:after{position: absolute;content: "";width: 0;height: 0;border-bottom: 30px solid #7fa9d3;border-left: 30px solid transparent;right: 410px;top: -30px}

.loginBox{padding:35px 35px 55px 35px;width: 340px;position: absolute;background: #ccdcf5;right: 0;top:-30px;}
.loginBox .title{line-height:60px;color: #2e81d1;text-align: center;font-size: 24px; }
.loginBox .login_icon{position: absolute;left:10px;top:8px;color: #a6c3e3;font-size: 22px;}
.loginBox .select2{border:solid 1px #ddd;height: 32px;line-height: 32px; margin-top:20px;background: #fff;padding:8px 15px;}
.loginBox .select2 .left{float: left;width: 70px;position: relative;border-right: 1px solid #bac7d2;}
.loginBox .select2 .right{padding-left:80px;}
.loginBox .select2 select{border:none;color: #2e81d1;line-height: 28px;float: right;margin-top: 5px;font-size: 14px;}
.loginBox .txtname,.loginBox .txtpass{padding-left:40px;font-size:14px; background:url("../image/icon_pers.png") 10px 14px no-repeat #fff}
.loginBox .txtpass{background-image:url("../image/icon_pas.png")}
.kouhao{width:1230px;margin:70px auto;padding:0 20px;box-sizing:border-box}

.footerLogoin{background-color: #f6f7fb;height:40px;text-align:center;line-height: 40px;position:absolute;width:100%;bottom:0;}


.bg-index{background: url("../image/index_bg.png") no-repeat center bottom #f4f4f4;background-size:100%}
.bg-index .feil{height: 230px;padding:0; }
.bg-index .feil.oa{background:url("../image/flei_01.png") no-repeat center 20px;margin-top:75px; }
.bg-index .feil.cs{background:url("../image/flei_02.png") no-repeat center 20px ;margin-top:75px; }
.bg-index .feil.aj{background:url("../image/flei_03.png") no-repeat center 20px;margin-top:75px; }
.bg-index .feil h4{margin-top:130px;line-height: 40px;}


@media only screen and (max-width: 1025px) {
    .kouhao{width:100%;margin:30px auto;padding:0 20px;box-sizing:border-box}
	.kouhao img{width:100%}
}
@media only screen and (min-width: 1025px) and (max-width: 1280px){
	.kouhao{width:100%;margin:50px auto;padding:0 60px;box-sizing:border-box}
	.kouhao img{width:100%}
}







