<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.biz.dao.express.ExpressSendMapper">
    <resultMap id="BaseResultMap" type="com.school.biz.domain.entity.express.ExpressSend">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sender_phone" property="senderPhone" jdbcType="VARCHAR"/>
        <result column="sender_name" property="senderName" jdbcType="VARCHAR"/>
        <result column="sender_addr" property="senderAddr" jdbcType="VARCHAR"/>
        <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR"/>
        <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
        <result column="receiver_addr" property="receiverAddr" jdbcType="VARCHAR"/>
        <result column="receiver_province_id" property="receiverProvinceId" jdbcType="BIGINT"/>
        <result column="receiver_city_id" property="receiverCityId" jdbcType="BIGINT"/>
        <result column="receiver_district_id" property="receiverDistrictId" jdbcType="BIGINT"/>
        <result column="company_id" property="companyId" jdbcType="BIGINT"/>
        <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="express_status" property="expressStatus" jdbcType="INTEGER"/>
        <result column="express_way" property="expressWay" jdbcType="INTEGER"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="express_type" property="expressType" jdbcType="INTEGER"/>
        <result column="service_amt" property="serviceAmt" jdbcType="DECIMAL"/>
        <result column="re_order_amt" property="reOrderAmt" jdbcType="DECIMAL"/>
        <result column="express_weight" property="expressWeight" jdbcType="DECIMAL"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        code,
        sender_phone,
        sender_name,
        sender_addr,
        receiver_phone,
        receiver_name,
        receiver_addr,
        receiver_province_id,
        receiver_city_id,
        receiver_district_id,
        company_id,
        company_code,
        company_name,
        created_time,
        is_deleted,
        express_status,
        express_way,
        customer_id,
        end_time,
        express_type,
        service_amt,
        re_order_amt,
        express_weight,
        remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from express_send
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from express_send
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.school.biz.domain.entity.express.ExpressSend">

    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.school.biz.domain.entity.express.ExpressSend">
        insert into express_send
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="senderPhone != null">
                sender_phone,
            </if>
            <if test="senderName != null">
                sender_name,
            </if>
            <if test="senderAddr != null">
                sender_addr,
            </if>
            <if test="receiverPhone != null">
                receiver_phone,
            </if>
            <if test="receiverName != null">
                receiver_name,
            </if>
            <if test="receiverAddr != null">
                receiver_addr,
            </if>
            <if test="receiverProvinceId != null">
                receiver_province_id,
            </if>
            <if test="receiverCityId != null">
                receiver_city_id,
            </if>
            <if test="receiverDistrictId != null">
                receiver_district_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="expressStatus != null">
                express_status,
            </if>
            <if test="expressWay != null">
                express_way,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="expressType != null">
                express_type,
            </if>
            <if test="serviceAmt != null">
                service_amt,
            </if>
            <if test="reOrderAmt != null">
                re_order_amt,
            </if>
            <if test="expressWeight != null">
                express_weight,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="senderPhone != null">
                #{senderPhone,jdbcType=VARCHAR},
            </if>
            <if test="senderName != null">
                #{senderName,jdbcType=VARCHAR},
            </if>
            <if test="senderAddr != null">
                #{senderAddr,jdbcType=VARCHAR},
            </if>
            <if test="receiverPhone != null">
                #{receiverPhone,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="receiverAddr != null">
                #{receiverAddr,jdbcType=VARCHAR},
            </if>
            <if test="receiverProvinceId != null">
                #{receiverProvinceId,jdbcType=BIGINT},
            </if>
            <if test="receiverCityId != null">
                #{receiverCityId,jdbcType=BIGINT},
            </if>
            <if test="receiverDistrictId != null">
                #{receiverDistrictId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="expressStatus != null">
                #{expressStatus,jdbcType=INTEGER},
            </if>
            <if test="expressWay != null">
                #{expressWay,jdbcType=INTEGER},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=INTEGER},
            </if>
            <if test="expressType != null">
                #{expressType,jdbcType=INTEGER},
            </if>
            <if test="serviceAmt != null">
                #{serviceAmt,jdbcType=DECIMAL},
            </if>
            <if test="reOrderAmt != null">
                #{reOrderAmt,jdbcType=DECIMAL},
            </if>
            <if test="expressWeight != null">
                #{expressWeight,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.school.biz.domain.entity.express.ExpressSend">
        update express_send
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="senderPhone != null">
                sender_phone = #{senderPhone,jdbcType=VARCHAR},
            </if>
            <if test="senderName != null">
                sender_name = #{senderName,jdbcType=VARCHAR},
            </if>
            <if test="senderAddr != null">
                sender_addr = #{senderAddr,jdbcType=VARCHAR},
            </if>
            <if test="receiverPhone != null">
                receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                receiver_name = #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="receiverAddr != null">
                receiver_addr = #{receiverAddr,jdbcType=VARCHAR},
            </if>
            <if test="receiverProvinceId != null">
                receiver_province_id = #{receiverProvinceId,jdbcType=BIGINT},
            </if>
            <if test="receiverCityId != null">
                receiver_city_id = #{receiverCityId,jdbcType=BIGINT},
            </if>
            <if test="receiverDistrictId != null">
                receiver_district_id = #{receiverDistrictId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="expressStatus != null">
                express_status = #{expressStatus,jdbcType=INTEGER},
            </if>
            <if test="expressWay != null">
                express_way = #{expressWay,jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expressType != null">
                express_type = #{expressType,jdbcType=INTEGER},
            </if>
            <if test="serviceAmt != null">
                service_amt = #{serviceAmt,jdbcType=DECIMAL},
            </if>
            <if test="reOrderAmt != null">
                re_order_amt = #{reOrderAmt,jdbcType=DECIMAL},
            </if>
            <if test="expressWeight != null">
                express_weight = #{expressWeight,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                remark= #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.school.biz.domain.entity.express.ExpressSend">

    </update>

    <select id="queryPage" resultType="com.school.biz.domain.entity.express.ExpressSend" parameterType="map">

    </select>

    <!-- 管理台列表查询 -->
    <select id="queryForManagerPage" resultType="com.school.biz.domain.vo.express.ExpressSendVo" parameterType="map">
        select es.*,IFNULL((select SUM(o1.amount) from order_info o1 where o1.express_id = es.id and o1.express_type = 0
        and o1.status = 1),0)
        totalAmt,
        IFNULL((select SUM(o2.amount) from refund_order_info o2 where o2.express_id = es.id and o2.express_type = 0 and
        o2.status = 1),0)
        totalRefundAmt,
        IFNULL((select SUM(o3.amount) from order_info o3 where o3.express_id = es.id and o3.express_type = 0 and
        o3.status = 1 and o3.order_no
        like '16%'),0) totalReOrderAmt,
        (select count(1) from refund_order_info o4 where o4.express_id = es.id and o4.express_type = 0) refundNum,
        (select count(1) from order_info o5 where o5.express_id = es.id and o5.express_type = 0 and o5.order_no like
        '16%') reOrderNum,
        rp.area_name receiver_province_name,
        rc.area_name receiver_city_name,
        rd.area_name receiver_district_name
        from express_send es
        inner join regional_division_dict rp on rp.id = es.receiver_province_id
        inner join regional_division_dict rc on rc.id = es.receiver_city_id
        inner join regional_division_dict rd on rd.id = es.receiver_district_id
        <where>
            <if test="keyword != null and keyword != '' ">
                and (es.code like concat('%',#{keyword},'%')
                or es.sender_name like concat('%',#{keyword},'%')
                or es.sender_phone like concat('%',#{keyword},'%')
                or es.receiver_name like concat('%',#{keyword},'%')
                or es.receiver_phone like concat('%',#{keyword},'%'))
            </if>
            <if test="status != null and status != ''">
                and es.express_status = #{status,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY es.id desc
    </select>


    <select id="selectByParams" resultType="com.school.biz.domain.entity.express.ExpressSend" parameterType="map">
        select * from express_send t where 1=1
        <if test="phone != null and phone != '' ">
            and t.sender_phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and t.express_status in
            <foreach collection="status" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and t.is_deleted=0
        order by t.id desc
    </select>

    <select id="findByExpressSendNo" parameterType="java.lang.String"
            resultType="com.school.biz.domain.entity.express.ExpressSend">
    	select * from express_send es
    	where es.code = #{expressSendNo,jdbcType=VARCHAR}
    </select>

    <select id="findPushOpenIdByExpressStatus" parameterType="java.lang.Integer" resultType="map">
         select c.open_id,t.created_time from express_send t inner join customer c on c.id=t.customer_id
         where 1=1 and t.express_status=#{status,jdbcType=INTEGER} and t.is_deleted=0 and TIMESTAMPDIFF(MINUTE,t.created_time,now())>10
    </select>


    <update id="updateIneffectiveToCancel">
        update express_send t set t.express_status=#{cancel,jdbcType=INTEGER}
        where DATEDIFF(now(),t.created_time)>#{diff,jdbcType=INTEGER} and t.express_status=#{ineffective,jdbcType=INTEGER}
    </update>


    <update id="addServiceAmt">
        update express_send t set t.service_amt = t.service_amt + #{amount,jdbcType=DECIMAL} where t.id=#{id,jdbcType=BIGINT}
    </update>
</mapper>