<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.biz.dao.express.ExpressCompanyMapper">
    <resultMap id="BaseResultMap" type="com.school.biz.domain.entity.express.ExpressCompany">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, code, phone, addr, creator, created_time, modifier, modified_time, is_deleted
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from express_company
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from express_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.school.biz.domain.entity.express.ExpressCompany">
    insert into express_company (id, name, code, 
      phone, addr, creator, 
      created_time, modifier, modified_time, 
      is_deleted)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.school.biz.domain.entity.express.ExpressCompany">
        insert into express_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="addr != null">
                addr,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.school.biz.domain.entity.express.ExpressCompany">
        update express_company
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.school.biz.domain.entity.express.ExpressCompany">
    update express_company
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="queryPage" resultType="com.school.biz.domain.entity.express.ExpressCompany" parameterType="map">
        select ec.* from express_company ec
        <where>
            <if test="keyword != null and keyword != '' ">
                and (ec.name like concat('%',#{keyword},'%')
                or ec.code like concat('%',#{keyword},'%')
                or ec.phone like concat('%',#{keyword},'%'))
            </if>
        </where>
        ORDER BY ec.id desc
    </select>


    <select id="selectByParams" resultType="com.school.biz.domain.entity.express.ExpressCompany" parameterType="map">
        select * from express_company t
        <where>
            <if test="companyId != null and companyId != '' ">
                and t.id=#{companyId,jdbcType=BIGINT}
            </if>
            <if test="companyCode != null and companyCode != '' ">
                and t.code=#{companyCode,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != '' ">
                and t.name=#{companyName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <select id="findAll" resultType="com.school.biz.domain.entity.express.ExpressCompany">
    	select * from express_company ec
    </select>
    
    <select id="findByCode" parameterType="java.lang.String" resultType="com.school.biz.domain.entity.express.ExpressCompany">
    	select * from express_company ec
    	where ec.code = #{code,jdbcType=VARCHAR}
    </select>
</mapper>