<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 <properties>
 	<property name="dialect" value="mysql"/>
 </properties>
 
 <settings>


 	<setting name="mapUnderscoreToCamelCase" value="true" />
 </settings>

 <!--设置别名-->
 <typeAliases>
   	<package name="com.school.biz.domain.entity"/>
 </typeAliases>
 
 <plugins>
 	<plugin interceptor="com.school.biz.util.mybatis.PaginationInterceptor">
 	<property name="pageSqlId" value=".*Page$"/>
 		<property name="dialect" value="mysql"/>
 	</plugin>
 </plugins>

</configuration>