<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.dao.order.OrderDao" >
  <resultMap id="BaseResultMap" type="com.school.domain.entity.order.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="express_id" property="expressId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="is_finished" property="finished" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, express_id, status, amount, is_finished, version, creator, created_time, modifier, modified_time, is_deleted
  </sql>


  <resultMap id="query" type="com.school.domain.dto.order.OrderQueryResult">
    <id property="id" column="id" />
  </resultMap>

  <sql id="query_order">
    id AS order_id, express_id, status AS order_status, amount, is_finished, creator AS order_creator,
    created_time AS order_created_time, modifier AS order_modifer, modified_time AS order_modified_time
  </sql>
  <sql id="query_express">
    , id AS express_id, code, company_name, company_code, type
  </sql>
  <select id="query" resultMap="query" parameterType="com.school.domain.dto.order.OrderQueryParam">
    SELECT
    <include refid="query_order"/>
    <include refid="query_express"/>
    FROM
    orders t1
    INNER JOIN express t2 on t1.express_id = t2.id
    WHERE 1 = 1
    <if test="status != null and status != ''">
      AND t1.status = ${status, jdbcType=VARCHAR}
    </if>
    ORDER BY t1.created_time DESC
	</select>

</mapper>