<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
			 xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
			 default-lazy-init="true">

	<description>各环境数据源配置</description>
	
	<!-- development 环境 -->
 	<beans profile="development">
 	
 		<context:property-placeholder ignore-unresolvable="true" location="classpath*:config/jdbc.development.properties, classpath*:config/redis.development.properties" />
		<!--阿里巴巴druid,高效、功能强大、可扩展性好,便于sql监控分析-->	
		<bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">  
			<property name="url" value="${jdbc.url}" />  
			<property name="username" value="${jdbc.username}" />  
			<property name="password" value="${jdbc.password}" />  
			<!-- 配置初始化大小、最小、最大 -->
		    <property name="initialSize" value="5" />
		    <property name="minIdle" value="5" />
		    <property name="maxActive" value="20" />
		    <!-- 配置获取连接等待超时的时间 -->
		    <property name="maxWait" value="60000" />
		    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		    <property name="timeBetweenEvictionRunsMillis" value="3000" />
		    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		    <property name="minEvictableIdleTimeMillis" value="300000" />
		
		    <property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		    <property name="testWhileIdle" value="true" />
		    <property name="testOnBorrow" value="false" />
		    <property name="testOnReturn" value="false" />
		
		    <!--打开PSCache，并且指定每个连接上PSCache的大小 ，Oracle，把poolPreparedStatements配置为true，mysql可以配置为false。分库分表较多的数据库，建议配置为false-->
		    <property name="poolPreparedStatements" value="false" />
		    <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		
		    <!-- 开启Druid的监控统计功能 -->
		    <property name="filters" value="stat,config" />
		    <!-- 开启数据库密码解密-->
		    <property name="connectionProperties" value="config.decrypt=${jdbc.decrypt};config.decrypt.key=${jdbc.publickey}" /> 
			</bean>

		<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
			<property name="maxTotal" value="${redis.maxTotal}"/>
			<property name="maxIdle" value="${redis.maxIdle}"/>
			<property name="minIdle" value="${redis.minIdle}"/>
			<property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
			<property name="minEvictableIdleTimeMillis" value="${redis.minEvictableIdleTimeMillis}"/>
			<property name="numTestsPerEvictionRun" value="${redis.numTestsPerEvictionRun}"/>
			<property name="timeBetweenEvictionRunsMillis" value="${redis.timeBetweenEvictionRunsMillis}"/>
			<property name="testOnBorrow" value="true"/>
			<property name="testOnReturn" value="true"/>
			<property name="testWhileIdle" value="true"/>
			<!-- 连接耗尽时是否阻塞，false报异常，true阻塞超时,默认true -->
			<property name="blockWhenExhausted" value="false"/>
		</bean>

		<bean id="jedisConnectionFactory"
					class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
					destroy-method="destroy">
			<property name="hostName" value="${redis.host}" />
			<property name="port" value="${redis.port}" />
			<property name="timeout" value="${redis.timeout}" />
			<property name="database" value="${redis.database}" />
			<property name="password" value="${redis.password}" />
			<property name="usePool" value="true" />
			<property name="poolConfig" ref="jedisPoolConfig" />
		</bean>

		<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
					p:connection-factory-ref="jedisConnectionFactory">
			<!-- 序列化方式 建议key/hashKey采用StringRedisSerializer。 -->
			<property name="keySerializer">
				<bean
					class="org.springframework.data.redis.serializer.StringRedisSerializer" />
			</property>
			<property name="hashKeySerializer">
				<bean
					class="org.springframework.data.redis.serializer.StringRedisSerializer" />
			</property>
			<property name="valueSerializer">
				<bean
					class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
			</property>
			<property name="hashValueSerializer">
				<bean
					class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
			</property>
		</bean>
		
 	</beans>
 	
 	<!-- test环境 -->
	<beans profile="test">
	
		<context:property-placeholder ignore-unresolvable="true"
			location="classpath*:config/jdbc.test.properties" />
				
		<!--阿里巴巴druid,高效、功能强大、可扩展性好,便于sql监控分析-->	
		<bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">  
			<property name="url" value="${jdbc.url}" />  
			<property name="username" value="${jdbc.username}" />  
			<property name="password" value="${jdbc.password}" />  
			<!-- 配置初始化大小、最小、最大 -->
		    <property name="initialSize" value="5" />
		    <property name="minIdle" value="5" />
		    <property name="maxActive" value="20" />
		    <!-- 配置获取连接等待超时的时间 -->
		    <property name="maxWait" value="60000" />
		    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		    <property name="timeBetweenEvictionRunsMillis" value="3000" />
		    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		    <property name="minEvictableIdleTimeMillis" value="300000" />
		
		    <property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		    <property name="testWhileIdle" value="true" />
		    <property name="testOnBorrow" value="false" />
		    <property name="testOnReturn" value="false" />
		
		    <!--打开PSCache，并且指定每个连接上PSCache的大小 ，Oracle，把poolPreparedStatements配置为true，mysql可以配置为false。分库分表较多的数据库，建议配置为false-->
		    <property name="poolPreparedStatements" value="false" />
		    <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		
		    <!-- 开启Druid的监控统计功能 -->
		    <property name="filters" value="stat,config" />
		    <!-- 开启数据库密码解密-->
		    <property name="connectionProperties" value="config.decrypt=${jdbc.decrypt};config.decrypt.key=${jdbc.publickey}" /> 
			</bean>    
		
	</beans>
	
	<!-- production环境 -->
	<beans profile="production">
	
		<context:property-placeholder ignore-unresolvable="true"
			location="classpath*:config/jdbc.production.properties" />	
		
		<!--阿里巴巴druid,高效、功能强大、可扩展性好,便于sql监控分析-->	
		<bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">  
			<property name="url" value="${jdbc.url}" />  
			<property name="username" value="${jdbc.username}" />  
			<property name="password" value="${jdbc.password}" />  
			<!-- 配置初始化大小、最小、最大 -->
		    <property name="initialSize" value="5" />
		    <property name="minIdle" value="5" />
		    <property name="maxActive" value="20" />
		    <!-- 配置获取连接等待超时的时间 -->
		    <property name="maxWait" value="60000" />
		    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		    <property name="timeBetweenEvictionRunsMillis" value="3000" />
		    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		    <property name="minEvictableIdleTimeMillis" value="300000" />
		
		    <property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		    <property name="testWhileIdle" value="true" />
		    <property name="testOnBorrow" value="false" />
		    <property name="testOnReturn" value="false" />
		
		    <!--打开PSCache，并且指定每个连接上PSCache的大小 ，Oracle，把poolPreparedStatements配置为true，mysql可以配置为false。分库分表较多的数据库，建议配置为false-->
		    <property name="poolPreparedStatements" value="false" />
		    <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		
		    <!-- 开启Druid的监控统计功能 -->
		    <property name="filters" value="stat,config" />
		    <!-- 开启数据库密码解密-->
		    <property name="connectionProperties" value="config.decrypt=${jdbc.decrypt};config.decrypt.key=${jdbc.publickey}" /> 
			</bean>    
	</beans>
	
	
</beans>