<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.biz.dao.order.RefundOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.school.biz.domain.entity.order.RefundOrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="refund_order_no" property="refundOrderNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="express_type" property="expressType" jdbcType="INTEGER" />
    <result column="express_id" property="expressId" jdbcType="BIGINT" />
    <result column="express_code" property="expressCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="trade_summary" property="tradeSummary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="suc_time" property="sucTime" jdbcType="TIMESTAMP" />
    <result column="oper_id" property="operId" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, refund_order_no, order_no, customer_id, express_type, express_id, express_code, 
    amount, created_time, trade_summary, status, notify_url, suc_time, oper_id, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from refund_order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from refund_order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.school.biz.domain.entity.order.RefundOrderInfo" >
    insert into refund_order_info (id, refund_order_no, order_no, 
      customer_id, express_type, express_id, 
      express_code, amount, created_time, 
      trade_summary, status, notify_url, 
      suc_time, oper_id, version
      )
    values (#{id,jdbcType=BIGINT}, #{refundOrderNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=BIGINT}, #{expressType,jdbcType=INTEGER}, #{expressId,jdbcType=BIGINT}, 
      #{expressCode,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{tradeSummary,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{sucTime,jdbcType=TIMESTAMP}, #{operId,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.school.biz.domain.entity.order.RefundOrderInfo" >
    insert into refund_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="refundOrderNo != null" >
        refund_order_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="expressType != null" >
        express_type,
      </if>
      <if test="expressId != null" >
        express_id,
      </if>
      <if test="expressCode != null" >
        express_code,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="tradeSummary != null" >
        trade_summary,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="sucTime != null" >
        suc_time,
      </if>
      <if test="operId != null" >
        oper_id,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="refundOrderNo != null" >
        #{refundOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="expressType != null" >
        #{expressType,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=BIGINT},
      </if>
      <if test="expressCode != null" >
        #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeSummary != null" >
        #{tradeSummary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="sucTime != null" >
        #{sucTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.biz.domain.entity.order.RefundOrderInfo" >
    update refund_order_info
    <set >
      <if test="refundOrderNo != null" >
        refund_order_no = #{refundOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="expressType != null" >
        express_type = #{expressType,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        express_id = #{expressId,jdbcType=BIGINT},
      </if>
      <if test="expressCode != null" >
        express_code = #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeSummary != null" >
        trade_summary = #{tradeSummary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="sucTime != null" >
        suc_time = #{sucTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        oper_id = #{operId,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.biz.domain.entity.order.RefundOrderInfo" >
    update refund_order_info
    set refund_order_no = #{refundOrderNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      express_type = #{expressType,jdbcType=INTEGER},
      express_id = #{expressId,jdbcType=BIGINT},
      express_code = #{expressCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      trade_summary = #{tradeSummary,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      suc_time = #{sucTime,jdbcType=TIMESTAMP},
      oper_id = #{operId,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getNotRefundOrder" resultType="com.school.biz.domain.entity.order.RefundOrderInfo">
  	select * from refund_order_info r where r.status = 0
  </select>
</mapper>